# Backend Environment Variables
EMAIL_USER=
EMAIL_PASS=
EMAIL_TO=mshahid3845@gmail.com
GEMINI_API_KEY=
FRONTEND_ORIGINS=https://personal-shahid-portfolio.vercel.app,https://shahidportfolio.mshahid3845.workers.dev,http://localhost:5500,http://localhost:3000
